@tailwind base;
@tailwind components;
@tailwind utilities;

layer base {
  :root {
    /* Primary */
    --Light_red: 255 87 87;
    --Orangey_yellow: 255 177 31;
    --Green_teal: 0 189 145;
    --Cobalt_blue: 17 37 212;

    /* Gradients */
    --Light_slate_blue: 120 87 255;
    --Light_royal_blue: 46 43 233;
    --Violet_blue: 78 33 202;
    --Persian_blue: 36 33 202 0;

    /* Neutral */

    --White: 255 255 255;
    --Pale_blue: 235 241 255;
    --Light_lavender: 200 199 255;
    --Dark_gray_blue: 48 59 90;
  }
}
