/* Start: Resetting CSS */

:root {
  /* dark mode user-agent-styles */
  color-scheme: normal dark;
}

*,
*::before,
*::after {
  /* makes sizing simpler */
  box-sizing: border-box;
}

* {
  /* remove default spacing */
  margin: 0;
  padding: 0;

  /* force styling of type through styling, rather than elements */
  font: inherit;
}

html {
  /* min height */
  /* hanging-punctuation: first last; */
  height: -webkit-fill-available; /* We have to fix html height */
}

img,
picture,
svg,
video {
  /* responsive images/videos */
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

a {
  text-decoration: none;
}

p {
  max-width: 75ch;
  text-wrap: pretty;
}

img {
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 0.75rem;
  border-radius: 5%;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
  }
}

/* End: Resetting CSS */

:root {
  /* colors */

  /* Primary */
  --Light_red: hsl(0, 100%, 67%);
  --Orangey_yellow: hsl(39, 100%, 56%);
  --Green_teal: hsl(166, 100%, 37%);
  --Cobalt_blue: hsl(234, 85%, 45%);

  /* Gradients */
  --Light_slate_blue: hsl(252, 100%, 67%);
  --Light_royal_blue: hsl(241, 81%, 54%);
  --Violet_blue: hsla(256, 72%, 46%, 1);
  --Persian_blue: hsla(241, 72%, 46%, 0);

  /* Neutral */

  --White: hsl(0, 0%, 100%);
  --Pale_blue: hsl(221, 100%, 96%);
  --Light_lavender: hsl(241, 100%, 89%);
  --Dark_gray_blue: hsl(224, 30%, 27%);
}

body {
  min-height: 100vh;
  font-family: "Hanken Grotesk", sans-serif;
  display: grid;
  place-items: center;
}

.card {
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border-radius: 5%;
}

.result {
  display: grid;
  place-items: center;
  background: var(--Light_slate_blue);
  background: linear-gradient(var(--Light_slate_blue), var(--Light_royal_blue));
}
.summary {
  display: grid;
  place-items: center;
  border-radius: 5%;
}
