@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Accents */
    --clr-accent-hsl-1: 0, 100%, 67%;
    --clr-accent-hsl-2: 39, 100%, 56%;
    --clr-accent-hsl-3: 166, 100%, 37%;
    --clr-accent-hsl-4: 234, 85%, 45%;

    /* Primary */
    --clr-primary-hsl-1: 252, 100%, 67%;
    --clr-primary-hsl-2: 256, 72%, 46%, 1;

    /* Secondary */
    --clr-secondary-hsl-1: 241, 81%, 54%;
    --clr-secondary-hsl-2: 241, 72%, 46%, 0;

    /* Neutral */
    --clr-neutral-hsl-1: 0, 0%, 100%;
    --clr-neutral-hsl-2: 221, 100%, 96%;
    --clr-neutral-hsl-3: 241, 100%, 89%;
    --clr-neutral-hsl-4: 224, 30%, 27%;
  }
}
