/* Start: Resetting CSS */

:root {
  /* dark mode user-agent-styles */
  color-scheme: normal dark;
}

*,
*::before,
*::after {
  /* makes sizing simpler */
  box-sizing: border-box;
}

* {
  /* remove default spacing */
  margin: 0;
  padding: 0;

  /* force styling of type through styling, rather than elements */
  font: inherit;
}

html {
  /* min height */
  /* hanging-punctuation: first last; */
  height: -webkit-fill-available; /* We have to fix html height */
}

img,
picture,
svg,
video {
  /* responsive images/videos */
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

a {
  text-decoration: none;
}

p {
  max-width: 75ch;
  text-wrap: pretty;
}

img {
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 0.75rem;
  border-radius: 5%;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
  }
}

/* End: Resetting CSS */

:root {
  /* colors */
  --Yellow: hsl(47, 88%, 63%);
  --White: hsl(0, 0%, 100%);
  --Grey: hsl(0, 0%, 50%);
  --Black: hsl(0, 0%, 7%);
}

body {
  min-height: 100vh;
  font-family: "Outfit", sans-serif;
  background-color: var(--Yellow);
  display: grid;
  place-items: center;
}

.card {
  padding: 1rem;
  background-color: var(--White);
  border: 0.1rem solid var(--Black);
  border-radius: 5%;
  box-shadow: 0.5rem 0.5rem var(--Black);
}

.tag {
  display: inline-block;
  margin-top: 1.5rem;
  padding: 0.25rem 0.75rem 0.25rem 0.75rem;
  border-radius: 5%;
  background-color: var(--Yellow);
  font-size: 14px;
  font-weight: 800;
}

.publish-date {
  margin-top: 1rem;
  font-size: 13px;
  font-weight: 600;
}

.title {
  margin-top: 1rem;
  font-size: 22px;
  font-weight: 700;
}

a {
  color: var(--Black);
}

.descripion {
  max-width: 20rem;
  margin-top: 1rem;
  font-size: 16px;
  color: var(--Grey);
  line-height: 1.75;
}

.author {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}

.avatar {
  margin-right: 1rem;
  width: 2.5rem;
}

.name {
  font-size: 12px;
  font-weight: 800;
}
